*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1000px;
    margin: 0 auto;
    
}
.background{
    background-color: rgb(218, 213, 213);
}
main{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 5%;

}

aside{
    background-color: white;
}
.avt{
    text-align: center;
}
.avt input{
    padding: 3px 3px;
    border-radius: 5px;
}
.avt input:hover{
    background-color: yellow;
}
